@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --blanco: #fff;
  --verde: #39b54a;
  --fuente: Roboto;
}

p {
  font-size: 12px;
}

a {
  font-size: 12px;
}

span {
  font-size: 12px;
}

.body-home {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: var(--fuente);
  color: var(--gris-oscuro);
  background-color: var(--gris-claro);
}

/*End of basic declaration*/

/*Header*/

header {
  background-color: var(--amarillo);
}

.logo img {
  width: 30%;
}

.cuotas {
  display: flex;
  align-items: center;
  margin-top: 1vw;
  margin-left: 5%;
}

.search input {
  display: block;
  width: 25%;
  height: 2vw;
}

.search button {
  background-color: var(--gris-claro);
}

.burger-menu {
  width: 20%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
}

.burger-menu button {
  border: none;
  border-radius: 5px;
  color: var(--gris-claro);
  background-color: var(--celeste);
  height: 50%;
  width: 15%;
}

/*Banner*/
#banner {
  width: 100vw;
}

/*Main*/
main {
  width: 90vw;
  margin: 0 auto;
}

.product {
  border-top: 1px solid var(--gris-claro);
  background-color: var(--blanco);
  margin-top: 10px;
  padding: 15px;
}

.product img {
  width: 100%;
}

.precios {
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
}

.titulares {
  font-size: 24px;
}

.descuentos {
  font-size: 16px;
}

.descripciones {
  font-size: 16px;
}




/*
Footer Style
*/

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.footerElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}

.footerElement h3 {
  margin-top: 2vw;
  margin-bottom: 0;
  text-align: center;
}

.footerElement p {
  margin: 0;
  text-align: center;
}

.footerElement i {
  color: var(--celeste);
  margin-top: 5vw;
  /*margin-bottom: 2vw;*/
}

.footer-row {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
}

.footer-row p {
  margin-left: 2vw;
}

@media screen and (min-width: 769px) {
  /* Estilos para la navegación en desktop */
}

@media screen and (min-width: 361px) {
  /* Estilos para la navegación en tablets */
}